.nav {
  &__column {
    .nav__title {
      text-transform: uppercase;
      font-weight: bold;
      margin: 8px 0 0;
    }

    .nav__list {
      margin: 8px 0 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
    }

    .nav__list-nested{
      margin-left: 10px;
      font-style: italic
    }

    a {
      position: relative;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        &::after {
          width: 100%;
          opacity: 1;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        transition:width 0.5s ease, opacity 0.5s ease;
        opacity: 0;
      }
    }
  }
}