@use 'sass:color';

$white: (
  1: #ffffff,
);
$black: (
  1: #3a3a3a,
  2: #282828,
  3: #000000
);
$grey: (
  1: #fafafa,
  2: #f8f8f8,
  3: #f1f1f1,
  4: #ebeef0,
  5: #e0e0eb,
  6: #a0a0b1,
  7: #8d8d8d,
  8: #767676,
  9: #cacad2,
  10: #5a5a5a,
  11: #dedede,
  12: #404040,
  13: #7E7C7C
);


$colors: (
  'white': $white,
  'grey': $grey,
  'black': $black
);

@function getColor($color: 'black', $subColor: 1) {
  @return map-get(map-get($colors, $color), $subColor);
}
