@font-face {
  font-display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter/Inter-Light.woff2') format('woff2');
}
@font-face {
  font-display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter/Inter-Medium.woff2') format('woff2');
}
@font-face {
  font-display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter/Inter-SemiBold.woff2') format('woff2');
}


@import 'colors';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'fonts';
